---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/home/Hero.astro"
import About from "../components/home/About.astro"
---

<Layout title="Home">
	<main>
		<Hero/>
		<About/>
	</main>
</Layout>

<style>
:root{
	--nav-background-color: #BCB4FF;
}
</style>
