---
import NavLink from "./NavLink.astro"
import nav_links from "./nav_links.json"
import {getPath, matchPaths} from "../../utils/path"

const {pathname} = Astro.url;
---

<nav id="navbar">
    <ul>
        {nav_links.map(link => ( 
            <li>
                <NavLink text={link.title} to={getPath(link.to)} selected={matchPaths(getPath(link.to), pathname)} new_tab ={link.new_tab}/>
            </li> 
        ))}
    </ul>
    <script src="./nav.ts"></script>
</nav>

<style>
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    font-family: Josefin Sans;
    z-index: 10;
    background-color: var(--nav-background-color);
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 5rem;
    color: white;
}

.hidden {
    animation: slideup 0.3s ease-out forwards;
}
.shown {
    animation: slidedown 0.3s ease-out backwards;
}

@keyframes slideup {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

</style>