---
const {text, to, selected, new_tab} = Astro.props;
const open_new = !!new_tab; // handles undefined
---

<a href={to} class={selected ? "selected" : ""} target={open_new ? "_blank" : ""}>{text}</a>

<style>

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    transition: color 0.2s;
}

a:hover {
    color: #3c3951;
}

a.selected {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

</style>
